<header class="header">
  <div class="currencies">
    <img
      src="../../../assets/icons/european_union_round_icon_64.png"
      alt="Euro flag"
      height="64"
    />
    <span class="currencies__value">{{
      this.currentEuroValue | number : "1.0-2"
    }}</span>
    <img
      src="../../../assets/icons/ukraine_round_icon_64.png"
      alt="Ukraine flag"
      height="64"
    />
    <span class="currencies__value">{{
      this.currentUSDValue | number : "1.0-2"
    }}</span>
    <img
      src="../../../assets/icons/united_states_of_america_round_icon_64.png"
      alt="USA flag"
      height="64"
    />
  </div>
</header>
